body{
    color: rgb(8, 53, 39);
    background-color: rgb(250, 212, 165);
}


.navbar{
    margin-top: -25px;
    
}
.navbar-nav{
    margin-left: auto;
}
.header2{
    margin-top: 20px;
    color: rgb(8, 53, 39);
}
.cool{
    margin-left: 40px;
display: inline-block;
margin-right: 7%;
color: rgb(8, 85, 85);
}
.bar{
    display: inline-block;
    margin-right: 7%;
    margin-left: 40px;
}

.trial1{
    background-color: rgb(5, 78, 78);
    display: inline-block;
    margin-right: 7%;  
    padding: 10px;
    color: rgb(250, 212, 165);
}
 .profile{
    margin-left: 50px;
    color: rgb(8, 53, 39);
}

.live{
    font-size: 5rem;
}
.reach{
    font-size: 2rem;
}
.free{
    display: inline-block;
    margin-right: 20px;
    background-color: rgb(38, 92, 76);
    color: rgb(250, 212, 165);
    font-size: 1.5rem;
    padding: 15px;
    font-family: monospace;
}
.vdemo{
    display: inline-block;
    color: rgb(5, 77, 55);
    font-size: 1.5rem;
    border-style: double;
    /* border-width: 30px; */
    padding: 10px;
    font-family: monospace;
} 

.d-block  {
    width: 20rem;
    height: 20rem;
}

.pic{
    /* display: inline-block; */
    margin: 0 20px 0 30px;
    width: 30rem;
    height: 22rem;
   
}
.mid1
{  
     /* background-color: rgb(154, 194, 240); */
    margin: 20px -10px;
    padding: 30px;
    /* background-color: rgb(217, 190, 218); */
    background-color: rgb(165, 183, 224);
}
#carouselExampleControls{
    background-color: rgb(153, 190, 187);
    margin: -30px -30px 10px;
}
.zow{
    display: inline-block;
}
.face{
    display: inline-block;
}
.tabl{
    background-color: rgb(144, 235, 189); 
    margin: -10px;
    padding: 20px;
}
   
   table {
     
       text-align: center;
    border: 1px solid black;
  border-collapse: collapse;

    /* margin: 20px; */
}
td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}
th{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}











